<header class="container mt-5">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <input type="text" name="search" id="search" class="form-control" placeholder="Search" [formControl]="search" />
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="sortAscending()">ASC</button>
      <button class="btn btn-primary mx-3" (click)="sortDecending()">DESC</button>
    </div>
  </div>
</header>

<main class="container">
    <div class="row">
      <div class="col-md-4 my-3" *ngFor="let country of countries.slice(pagination.start, pagination.end)">
        <div class="card" data-bs-toggle="modal" attr.data-bs-target="#modal-{{country.cca2}}">
          <img src="{{ country.flags.png }}" alt="PNG image of {{ country.name.official }} flag" class="card-img-top" width="100" height="200">
          <div class="card-body">
            <p><b>Country Name: </b> {{ country.name.official }}</p>
            <p><b>2 Character Country Code: </b> {{ country.cca2 }} </p>
            <p><b>3 Character Country Code: </b> {{ country.cca3 }} </p>
            <p><b>Alt Spelling: </b> {{ country.altSpellings }} </p>
            <p><b>Country Calling Code: </b> {{ country.idd.root }}{{ country.idd.suffixes }} </p>
          </div>
        </div>

        <div class="modal fade" id="modal-{{country.cca2}}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ country.name.official }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><b>Country Common Name: </b> {{ country.name.common }}</p>
                <p><b>2 Character Country Code: </b> {{ country.cca2 }} </p>
                <p><b>3 Character Country Code: </b> {{ country.cca3 }} </p>
                <p><b>CCN3: </b> {{ country.ccn3 }} </p>
                <p><b>Alt Spelling: </b> {{ country.altSpellings }} </p>
                <p><b>Country Calling Code: </b> {{ country.idd.root }}{{ country.idd.suffixes }} </p>
                <p><b>Is independant: </b> {{ country.independent }} </p>
                <p><b>Status: </b> {{ country.status }} </p>
                <p><b>Is UN member: </b> {{ country.unMember }} </p>
                <p><b>Capital: </b> {{ country.capital }} </p>
                <p><b>Region: </b> {{ country.region }} </p>
                <p><b>Area: </b> {{ country.area }} </p>
                <p><b>Population: </b> {{ country.population }} </p>
                <p><b>Timezone: </b> {{ country.timezones }} </p>
                <p><b>Continents: </b> {{ country.continents }} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

<footer class="container mb-5">
      <button class="btn btn-primary float-end mx-3" [disabled]="pagination.end >= countries.length" (click)="next()">Next</button>
      <button class="btn btn-primary float-end" [disabled]="pagination.start <= 0" (click)="previous()">Prev</button>
</footer>
<router-outlet />
